{% extends 'base.html' %}

{% block content %}
  <h2>新增訂單</h2>

  <form method="post" action="{% url 'create_order' %}">
    {% csrf_token %}

    <div class="mb-3">
      <label for="customer" class="form-label">客戶名稱：</label>
      <select name="customer" id="customer" class="form-select">
        {% for customer in customers %}
          <option value="{{ customer.id }}">{{ customer.name }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="mb-3">
      <label class="form-label">產品列表：</label>
      {% for product in products %}
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="products" value="{{ product.id }}" id="product{{ product.id }}">
          <label class="form-check-label" for="product{{ product.id }}">{{ product.name }}</label>
          <input class="form-control" type="number" name="quantity_{{ product.id }}" placeholder="數量" min="1" max="{{ product.stock }}" required>
          <input type="hidden" name="price_{{ product.id }}" value="{{ product.price }}">
        </div>
      {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary">新增訂單</button>
  </form>

  <script>
    // 监听表单提交事件
    document.querySelector('form').addEventListener('submit', function(event) {
      event.preventDefault(); // 阻止表单默认提交行为
      calculateTotalAmount(); // 计算订单总金额
      this.submit(); // 提交表单
    });

    // 根据所选商品的单价和数量计算订单总金额
    function calculateTotalAmount() {
      let totalAmount = 0;

      {% for product in products %}
        if (document.getElementById('product{{ product.id }}').checked) {
          const quantity = parseInt(document.getElementsByName('quantity_{{ product.id }}')[0].value);
          const price = parseFloat(document.getElementsByName('price_{{ product.id }}')[0].value);
          totalAmount += quantity * price;
        }
      {% endfor %}

      const totalAmountField = document.createElement('input');
      totalAmountField.type = 'hidden';
      totalAmountField.name = 'total_amount';
      totalAmountField.value = totalAmount.toFixed(2);
      document.querySelector('form').appendChild(totalAmountField);
    }
  </script>
{% endblock %}